<div class="content py-5">
    <div class="col my-5">
        <div class="row ">
            <div class="col-3 py-0">
                <ul class="menu">
                    <li><a href="#">Sobre mim</a></li>
                    <li><a href="#">Formação</a></li>
                    <li><a href="#">Meus projetos</a></li>
                    <li><a href="#">Principais Skills</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            <div class="col-9 py-0">
                <div class="principal">
                    <app-body-content></app-body-content>
                </div>
            </div>
        </div>
    </div>
</div>