<div class="content py-5">
    <div class="col my-5">
        <div class="row ">
            <div class="col-3 py-0">
                <ul class="menu">
                    <li><a routerLink="/about">Sobre mim</a></li>
                    <li><a routerLink="/education">Formação</a></li>
                    <li><a routerLink="/skills">Principais Skills</a></li>
                    <li><a routerLink="/projects">Meus projetos</a></li>
                    <li><a routerLink="">Login</a></li>
                </ul>
            </div>
            <div class="col-9 py-0">
                <div class="principal">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>