@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Bruno+Ace&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
   /* font-family: 'Bruno Ace', cursive;*/
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.header{
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding-left: 20px;
}

.header h1{
    color: #444;
    font-weight: 700;
    font-size: 36px;
}
.header h3{
    color: #444;
    font-weight: lighter;
}

.thumb-container {
    position: relative;
    top: -50px;
    height: 50px;
}
.thumbnail {
    background-color: #cdeedb;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
    border: 12px solid #fff;
}

.thumbnail img {
    width: 200px;
}

.content {
    background-color: #02ad97;
    height: 680px;
    padding-top: 100px;
}