.header{
    display: flex;
    height: 15vh;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.header h1{
    color: #444;
    font-weight: 700;
    font-size: 32px;
}
.header h3{
    color: #444;
    font-weight: lighter;
    font-size: 20px;
}

.thumb-container {
    position: relative;
    top: -75px;
    height: 0px;
    transition: ease-in 0.3s;
}
.thumbnail {
    background-color: #cdeedb;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
    border: 12px solid #fff;
    transition: ease-in 0.3s;
}

.thumbnail img {
    width: 150px;
    transition: ease-in 0.3s;
}

.languages{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-decoration: none;
}

.languages ul{
    font-size: small;
    list-style: none;
    text-align: center;
}

@media (width > 600) {
    .thumb-container {
        position: relative;
        top: -75px;
        height: 0px;
        transition: ease-in 0.3s;
    }
    .thumbnail {
        background-color: #cdeedb;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: auto;
        border: 12px solid #fff;
        transition: ease-in 0.3s;
    }
    
    .thumbnail img {
        width: 150px;
        transition: ease-in 0.3s;
    }
}
@media (width > 320px) and (width <= 600px) {
    .header h1{
        font-weight: 700;
        font-size: 20px;
    }
    
    .header h3{
        color: #444;
        font-weight: lighter;
        font-size: 14px;
    }

    .languages{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 5px;
        text-decoration: none;
        align-content: center;
    }
    
    .languages ul{
        font-size: small;
        list-style: none;
        text-align: center;
        font-size: 10px;
    }

    .thumb-container {
        position: relative;
        top: -50px;
        height: 0px;
        transition: ease-in 0.3s;
    }
    .thumbnail {
        background-color: #cdeedb;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: auto;
        border: 10px solid #fff;
        transition: ease-in 0.3s;
    }
    
    .thumbnail img {
        width: 100px;
        transition: ease-in 0.3s;
    }
}


@media (width <= 320px) {
    .header h1{
        font-weight: 700;
        font-size: 16px;
    }
    .header h3{
        color: #444;
        font-weight: lighter;
        font-size: 10px;
    }

    .languages{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 5px;
        text-decoration: none;
        align-content: center;
    }
    
    .languages ul{
        font-size: small;
        list-style: none;
        text-align: center;
        font-size: 7px;
    }

    .thumb-container {
        position: relative;
        top: -25px;
        height: 0px;
        transition: ease-in 0.3s;
    }
    .thumbnail {
        background-color: #cdeedb;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: auto;
        border: 5px solid #fff;
        transition: ease-in 0.3s;
        
    }
    
    .thumbnail img {
        width: 50px;
        transition: ease-in 0.3s;
    }
}